/* button */


.btn {
    border-radius: 4px;
}

.index-btn {
    width: 8em;
    padding: 0 0.6em;
    font-size: 1.1em;
    font-weight: bold;
    transition: 0.2s;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255, 0.9);
    box-shadow: 0 0 10px 2px rgba(254, 254, 254, 0.3);
    border: 1px solid rgba(63, 63, 63, 0);
}

.index-btn:hover {
    padding: 0 1em;
    background-color: rgb(255, 255, 255, 1);
    box-shadow: 0 0 10px 2px rgba(254, 254, 254, 0.1);
    /* border: 1px solid rgb(63, 63, 63); */
}

.gradient-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to right, #593F47, #235571, #EFBF81);
    color: white;
    transition: 0.2s;
    border-radius: 5px;
}

.gradient-button:hover {
    background-image: linear-gradient(to right, #66444e, #3a6a85, #edc693);
}

.normal-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background-color: white;
    color: rgb(15, 15, 15);
    transition: 0.2s;
    border-radius: 5px;
}

.normal-button:hover {
    background-color: rgb(225, 225, 225);
}

.addtolist-button {
    display: flex;
    justify-content: center;
    margin: 0.2em;
    align-items: center;
    background-color: inherit;
    border-radius: 50%;
    border: 1px solid rgba(92, 92, 92, 0.8);
    background-color: #141414;
    color: white;
    font-size: 1.2em;
    font-style: bold;
    width: 50px;
    height: 50px;
    transition: 0.2s;
}

.addtolist-button i {
    margin-right: 0.2em !important;
}

.addtolist-button:hover {
    border: 1px solid rgba(173, 173, 173, 0.8);
    background-color: rgb(32, 32, 32);
}

.moreinfo-button {
    display: flex;
    justify-content: center;
    margin: 0.2em;
    align-items: center;
    background-color: inherit;
    border-radius: 5px;
    background-color: #141414;
    border: 1px solid rgba(92, 92, 92, 0.8);
    color: white;
    font-size: 1.2em;
    font-style: bold;
    width: 150px;
    height: 50px;
    transition: 0.2s;
}

.moreinfo-button:hover {
    border: 1px solid rgba(173, 173, 173, 0.8);
    background-color: rgb(32, 32, 32);
}

.close-button {
    margin: 0.2em;
    background-color: rgb(53, 53, 53);
    border-radius: 50%;
    background-color: #141414;
    border: 1px solid rgba(92, 92, 92, 0.8);
    color: white;
    font-size: 1.2em;
    font-style: bold;
    width: 50px;
    height: 50px;
    transition: 0.2s;
}

.close-button:hover {
    border: 1px solid rgba(173, 173, 173, 0.8);
    background-color: rgb(32, 32, 32);

}