/* global */


button,
input {
    color: black;
    padding-left: 0.5em;
}

label {
    color: rgb(255, 255, 255);
}

input {
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0 0 10px 5px rgba(254, 254, 254, 0.3); */
    height: 3em;
    border-radius: 5px;
    border: none;
    width: 18em;
}

.error {
    color: rgb(255, 59, 59);
    font-weight: 600;
}

.hr {
    border: rgb(44, 44, 44, 0.1) solid 0.5px !important;
    margin-top: 0.6em !important;
    margin-bottom: 0.6em !important;
}