/* CSS - MAIN */
/* This is the main css file */






/* logout */

.logout-wrapper {
    /* background-color: black; */
    color: white;
    text-align: center;
    padding: 8em 0;
}

/* BeatLoader */
.MoonLoader {
    display: inline-block;
    border: 4px solid #f1f1f1 !important;
    border-radius: 50%;
    border-top: 4px solid transparent;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}




/* index */

.index-wrapper {
    height: fit-content !important;
    padding: 5em 0 0 0;
}

.index-hero {
    padding-top: 5em;
    padding-bottom: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: white;
}

.index-hero h1 {
    font-weight: 700;
}

.index-hero h4 {
    font-weight: 500;
}

.index-form {
    display: flex;
}

.index-content {
    background-color: rgba(15, 15, 15, 0.7);
    height: 100vh;
    display: flex;
    align-items: center;
    margin: auto;
    color: white;
}

.index-input-box {
    border: 3px solid rgb(228, 228, 228);
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    height: 4.3em;
    padding: 0.2em 0.7em;
}

.index-input-box label {
    font-size: 0.8em;
    margin-bottom: -0.5em;
    margin-left: 0.5em;
}

.index-input-box input {
    color: white;
    background-color: transparent !important;
    box-shadow: none;
    width: 25em;
    border-radius: 0;
    height: 5em !important;
    outline: none;
    font-weight: 600;
}

.index-input-box input::after {
    background-color: transparent !important;
}

@media (max-width: 991px) {
    .index-wrapper {
        height: fit-content !important;
        padding: 0 2em 2em 2em;
    }

    .index-hero {
        text-align: center;
    }

    .index-hero h4 {
        font-size: 1em;
    }

}

@media (max-width: 772px) {
    .index-input-box {
        width: 100% !important;
    }

    .index-input-box input {
        width: 100% !important;
    }
}




/* login */

.login-wrapper {
    height: fit-content !important;
    padding: 3em 0 18em 0;

}

.page-content {
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 25em;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    color: white;
}



.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.music-controls-menu {
    padding: 0.8em 5em;
    background-color: rgba(0, 0, 0, 0.5) !important;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.music-controls-menu button {
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    background-color: black;
    padding: 0.6em 0.9em;
    border: 0.5px solid white;
    margin-left: 0.5em;
    transition: 0.2s;
}

.music-controls-menu button:hover {
    background-color: rgb(29, 23, 23);
    padding: 0.5em 0.9em;
    border: 0.5px solid rgb(170, 170, 170);
}

.create-account-section {
    margin-top: 10px;
    width: 100%;

}

.create-account-section p {
    margin-bottom: 10px;
}

.create-account-link {
    color: #3496ff;
    text-decoration: none;
    list-style-type: none;
    margin-top: -1em;
    margin-left: -1em;

}

.create-account-link:hover {
    color: #9ecdff;
    text-decoration: underline;
}



/* newaccount */

.newaccount-wrapper {
    height: fit-content !important;
    padding: 3em 0 18em 0;
}



/* home */

.home-wrapper {
    height: fit-content !important;
    padding: 0 0 18em 0;
    background-color: #141414 !important;
    color: white;
}

.audio-image {
    width: 10em;
}

.hero-section {
    width: 100%;
    height: 35em;
    background-size: cover;
    background-position: center;
    position: relative;
    /* padding-left: 20% !important; */
}

.home-cards-sections {
    margin-top: -1em !important;
}

.hero-details {
    position: absolute;
    top: 45%;
    left: 2;
    transform: translate(-50%, -50%);
    color: white;
    max-width: 90%;
    /* min-width: 40em !important; */
    text-align: left;
}

.playing-soundwave-hero {
    position: absolute;
    top: 45%;
    right: 10%;
    transform: translate(-50%, -50%);
    color: white;
    max-width: 90%;
    /* min-width: 40em !important; */
    text-align: left;
}

.hero-part-details {
    opacity: 1;
    height: 5em;
    min-height: fit-content;
    transition: opacity 3.8s ease, height 2s ease;
}

.hero-audio-box {
    margin-top: 1.2em;
}

.hero-part-details.hidden {
    opacity: 0;
}

.hero-part-details.hiddenbox {
    height: 0 !important;
}

.hero-details h1 {
    font-size: 4em;
}

.soundwave-gif {
    /* display: flex;
    justify-content: center; */
    /* padding-bottom: 2em; */
    /* align-items: center;
    background-color: inherit; */
    /* border-radius: 50%; */
    /* border: 1px solid rgba(92, 92, 92, 0.8);
    background-color: rgb(219, 219, 219); */
    /* color: white; */
    /* width: 72px;
    height: 70px; */
    /* padding: 1em 1em; */
}

/* modal */
.info-modal {
    position: fixed !important;
    margin-left: -30em !important;
}

.info-modal .modal-content {
    min-width: fit-content;
}

.info-modal-body {
    position: relative;
    padding: 0;
    height: fit-content;
    width: 50em;
    color: rgb(244, 244, 244) !important;
    background-color: #181818 !important;
}

.info-modal-body img {
    width: 100%;
    height: 22em !important;
    object-fit: cover;
    object-position: top;
}

.info-modal-content {
    padding: 2em 3em;
}

.info-modal-content .title {
    font-size: 2.6em;
    font-weight: 700;
}

.info-modal-content .category {
    font-style: italic;
    font-weight: 500;
}

.info-modal-close {
    position: absolute;
    top: 4%;
    right: 0;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 10px;
    color: white;
    z-index: 2;
}

.soundwave-playing-modal {
    position: absolute;
    bottom: 4%;
    right: 0;

}

/* home modal */
@media (min-width: 991px) {
    .info-modal {
        margin-left: -23em !important;
    }
}

@media (max-width: 1050px) {
    .info-modal {
        margin-left: -15% !important;
    }

    .info-modal-body {
        height: fit-content;
        width: fit-content !important;
    }

    .info-modal-content {
        padding: 1em 2em !important;
    }
}

@media (max-width: 700px) {
    .info-modal {
        margin-left: 0 !important;
    }

    .info-modal-content {
        padding: 1em 0.5em !important;
    }

    .info-modal-content .title {
        font-size: 1em;
        font-weight: 700;
    }

    .info-modal-content audio {
        width: 10em !important;
        padding: 0;
        margin: 0;
        height: 3em;
    }
}

/* home media query */
@media (min-width: 1500px) {
    .hero-details {
        left: 20%;
        padding-left: 5em !important;
        padding-right: 5em !important;
        padding-bottom: 1em;
        padding-top: 1em;
        width: 30em;
    }

    .hero-details h1 {
        font-size: 3.2em !important;
    }
}

@media (max-width: 1500px) {
    .hero-details {
        left: 20%;
        padding-left: 5em !important;
        padding-right: 5em !important;
        width: 30em;
    }

    .hero-details h1 {
        font-size: 3em !important;
    }
}

@media (max-width: 991px) {
    .hero-details {
        left: 30%;
    }

    .hero-details h1 {
        font-size: 2.6em !important;
    }
}


@media (max-width: 670px) {
    .hero-details {
        left: 35%;
    }

    .hero-details h1 {
        font-size: 2em !important;
    }
}

@media (max-width: 473px) {
    .hero-details {
        left: 30%;
    }
}



/* chooseavatar */

.avatar-wrapper {
    height: fit-content !important;
    padding: 5em 0 18em 0;
}

.avatar-content {
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 25em;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    color: white;
}

.avatar-image-box {
    min-width: 5.5em !important;
    min-height: 6em;

}

.avatar-image {
    width: 5em !important;
    height: 5em !important;
    opacity: 1;
    cursor: pointer;
    transition: 0.2s !important;
}

.avatar-image:hover {
    height: 5.1em !important;
    width: 5.1em !important;
    opacity: 0.8;
}

.selected-avatar {
    height: 5.1em !important;
    width: 5.1em !important;
    opacity: 1 !important;
    transition: 0.1s !important;
}


/* my list mylist */

.mylist-wrapper {
    height: fit-content !important;
    padding: 1em 0 18em 0;
    background-color: #141414 !important;
    color: white;
}

.audio-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 8px;
}

.audio-card {
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
    height: 180px;
}

.playing-soundwave-cards {
    float: right;
    margin-right: 1em;
    margin-top: 1em;
}

.audio-image {
    height: 180px;
    background-size: cover;
    background-position: center;
    position: relative;
    min-width: 100% !important;
    transition: height 0.3s ease;
}

.audio-image-text {
    padding-left: 1em;
}

.audio-image-text h5 {
    font-weight: 700;
}

.audio-image-text p {
    font-size: 0.9em;
    font-style: italic;
}

.audio-card:hover .audio-image {
    height: 40px;
}

.audio-details {
    padding: 0 1em 0 0.5em !important;
    margin-left: 10px;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: opacity 0.3s ease;
}

.audio-card:hover .audio-details {
    opacity: 1;
}

.audio {
    opacity: 0;
    background-color: rgb(241, 241, 241);
    height: 2.5em !important;
    width: 100%;
}

.audio-card:hover .audio {
    opacity: 7;
}

.audio-card .text {
    transition: 0.4s ease;
}

.audio-card:hover .text {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.audio-details h3 {
    font-size: 0.9em;
}

.audio-details p {
    font-size: 0.75em;
}





/* myaccount - My account */

.myaccount-wrapper {
    height: fit-content !important;
    padding: 1em 10em 8em 10em;
    background-color: rgb(244, 244, 244) !important;
    color: rgb(79, 79, 79);
}

.personal-info-section {
    color: rgb(79, 79, 79) !important;
}

.personal-info .form-group {
    flex: 1;
    color: rgb(79, 79, 79) !important;
}


.personal-info label {
    color: rgb(79, 79, 79) !important;
}

.personal-info input {
    width: 50% !important;
    height: 2.2em;
    margin-left: 2em;
    border: 1px solid rgba(197, 197, 197, 0.5);
}

.input-box {
    padding: 0.2em;
}

.security-section .form-group label {
    color: rgb(79, 79, 79) !important;
}

.security-section input {
    height: 2.2em;
    width: 50% !important;
    margin-left: 2em;
    border: 1px solid rgba(197, 197, 197, 0.5);
}

.delete-account-box {
    padding: 1.5em;
    margin-top: 5em;
    border: 1px solid rgba(255, 79, 79, 0.5);
    border-radius: 4px;
    width: fit-content;
}


@media (max-width: 768px) {
    .myaccount-wrapper {
        height: fit-content !important;
        padding: 1em 1em 5em 1em;
        background-color: rgb(244, 244, 244) !important;
        color: rgb(79, 79, 79) !important;
    }

    .security-section input {
        height: 3em;
    }

    .personal-info input {
        height: 3em;
    }

    .input-box {
        padding: 0;
    }

}

/* avatar modal */
.modal-content {
    background-color: rgba(0, 0, 0, 0.9);
}

.settings-avatar-image {
    width: 4em !important;
    transition: 0.2s;
}

.avatar-modal-header {
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    padding: 2em !important;
}

.avatar-modal-content {
    border-radius: 20px;
    padding: 1em 4em;
}

.modal-title {
    color: #fff !important;
}

.avatar-modal-body {
    padding: 1em 2em;
}

.avatar-image-box {
    cursor: pointer;
    margin-bottom: 20px;
}

.avatar-image {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
    transition: box-shadow 0.3s ease;
}

.selected-avatar {
    filter: brightness(100%);
}

/* deleteaccount modal */
.delete-account-modal {
    margin-top: 8em;

}

.delete-account-modal .modal-content {
    background-color: white;
    color: #181818;
    padding: 0.5em;
}

.delete-account-modal .modal-title {
    color: #181818 !important;
}

.delete-account-modal .modal-body input {
    border: rgb(20, 20, 20, 0.3) 1px solid;
    width: 100% !important;
}

.delete-account-modal .close i {
    color: black !important;
}